<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>01bich.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1,1},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01co.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1,287},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01ro.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{215,1},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02bich.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1,573},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02co.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{215,287},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02ro.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{429,1},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>02tep.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1,859},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03ro.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{215,573},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03tep.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{429,287},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04bich.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{643,1},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04co.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1,1145},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04ro.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{215,859},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05co.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{429,573},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05ro.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{643,287},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05tep.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{857,1},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06bich.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1,1431},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06co.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1,1717},{212,284}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>07bich.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{429,859},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07co.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{643,573},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07ro.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{857,287},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>07tep.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1071,1},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08bich.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{215,1145},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08tep.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{215,1431},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09bich.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{287,1717},{212,284}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>09co.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{643,859},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09ro.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{857,573},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>09tep.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1071,287},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10bich.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1285,1},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10co.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1499,1},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10ro.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{429,1145},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>10tep.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{429,1431},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11co.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{573,1717},{212,284}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>11ro.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1071,573},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>11tep.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1285,287},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12bich.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1499,287},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12co.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{857,859},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12ro.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{643,1145},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>12tep.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{643,1431},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13bich.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1285,573},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13co.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1499,573},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03bich.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1071,859},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>03co.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{857,1145},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>04tep.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{857,1431},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>05bich.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{859,1717},{212,284}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>06ro.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1285,859},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>06tep.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1499,859},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08co.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1071,1145},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>08ro.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1071,1431},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>01tep.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1145,1717},{212,284}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>11bich.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1285,1145},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13ro.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1499,1145},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>13tep.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1285,1431},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>nullx.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{212,284}</string>
			<key>spriteSourceSize</key>
			<string>{212,284}</string>
			<key>textureRect</key>
			<string>{{1499,1431},{212,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>Cards.png</string>
		<key>size</key>
		<string>{1712,1930}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3e9ff4f26b08697b584323e207b5fc5c:9d4d95ec06ea7a87d03005deed3fe7bb:17b6a95f5b8b06993e72149c6349bbfb$</string>
		<key>textureFileName</key>
		<string>Cards.png</string>
	</dict>
</dict>
</plist>
